.Player {
  display: block;
}

.card {
  width: 300px;
}

.player-photo {
  width: 100%;
  position: absolute;
  bottom: 35%;
  margin: 0 auto;
}

.header-photo-container {
  height: 250px;
  overflow: hidden;
  .header-photo {
    opacity: .4;
  }
}
